.project-showcase {
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
}

.showcase-wrapper {
    position: relative;
    width: 85%;
    height: 76vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.project-img {
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0.6;
    z-index: 2;
    cursor: pointer;
}
.project-showcase-text {
    position: absolute;
    z-index: 3;
    left: 50px;
    bottom: 50px;
    color: white;
}

.project-showcase-text > h4 {
    font-weight: bold;
}
.project-info {
    width: 85%;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
}

.project-info-detail {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #707070;
}

.project-info-name {
    width: 100%;
}

#project-info-heading {
    font-weight: bold;
    color: #707070;
}

#project-info-desc {
    color: rgb(133, 133, 133);
}

.project-info-img {
    width: 256px;
    text-align: center;
}
.project-info-img > img {
    width: 100%;
    height: 100%;
}

.project-preview {
    margin: 0 !important;
    width: 100%;
    display: flex;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 80px;
}

.project-preview .preview-img-wrapper {
    width: auto;
    height: 200px;
    margin: 20px 50px;
}

.project-preview .preview-img-wrapper .preview-img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
        0 8px 16px rgba(0, 0, 0, 0.11);
}

.preview-img-wrapper > .preview-img:hover {
    opacity: 0.8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.project-preview .slick-center .preview-img {
    transform: scale(1.2);
}
/* =======================
    Image Pop up modal
==========================*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
}

.modal > #captionModal {
    margin: 0 auto auto auto;
}

/* Modal Content (image) */
.modal-content {
    margin: auto auto 0 auto;
    display: block;
    max-height: 80vh;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: auto;
        max-width: 1024px;
        max-height: 90vh;
    }
}

@media only screen and (min-width: 700px) {
    .modal-content {
        width: 100%;
        max-width: 700px;
    }
}

/*================================
      <<END>> Image pop up modal
  ==================================*/
/* slicke slider*/
@media only screen and (max-width: 767px) {
    .showcase-wrapper {
        height: auto;
    }
    .project-showcase-text {
        left: 30px;
        bottom: 30px;
    }
}
.slick-dots {
    bottom: 20px !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.slick-prev {
    left: 20px !important;
}
.slick-next {
    right: 20px !important;
}
.slick-next,
.slick-prev {
    position: absolute !important;
    z-index: 2 !important;
}
.slick-prev:before,
.slick-next:before {
    color: #267faf !important;
    opacity: 0.75 !important;
    font-size: 25px !important;
}
